/* Originally from https://git.knutsen.co/stagit/file/style.css */

html {
	font-size: 12px;
	height: 100%;
}

body {
	margin: 5rem auto;
	color: #aaa;
	background-color: #272727;
	font-family: monospace;
	width: 66rem;
}

pre { -moz-tab-size: 4; }
pre { tab-size: 4; }

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

img, h1, h2 {
	vertical-align: middle;
}

img {
	border: 0;
}

a,
a.d,
a.h,
a.i,
a.line {
	color: #3498db;
	text-decoration: none;
}

#blob {
    display: block;
    max-width: 100%;
    overflow-x: scroll;
}

article.markup {
	font-size: 15px;
    border: 2px solid #00000017;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 2.5em;
    margin: 2em 0;
}

article.markup code {
    font-size: 0.9em;
    border: 1px solid #dbdbdb;
    background-color: #f7f7f7;
    padding: 0 0.3em;
    border-radius: 0.3em
}

article.markup pre code {
	border: none;
	background: none;
	padding: 0;
	border-radius: 0;
}

article.markup pre {
	background-color: #f7f7f7;
	padding: 1em;
	border: 1px solid #dbdbdb;
	border-radius: 0.3em;
}

article.markup h1 {
	font-size: 2.4em;
	padding-bottom: 6px;
	border-bottom: 5px solid #0000000a;
}

article.markup h2 {
	font-size: 1.9em;
	padding-bottom: 5px;
	border-bottom: 2px solid #00000014;
}

article.markup h3 {
    font-size: 1.5em;
}

article.markup h4 {
    font-size: 1.3em;
}

article.markup h5 {
    font-size: 1.1em;
}

article.markup h6 {
    font-size: 1em;
}

article img {
	max-width: 100%;
}

.linenos {
	margin-right: 0;
	border-right: 1px solid rgb(0 0 0 / 8%);
	user-select: none;
}

.linenos a {
	margin-right: 0.9em;
	user-select: none;
	text-decoration: none;
}

#blob a {
	color: #777;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
}

#content table td {
	vertical-align: top;
	white-space: nowrap;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
	background-color: #414141;
}

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

.desc {
	color: #777;
}

hr {
	border: 0;
	border-top: 1px solid #777;
	height: 1px;
}

pre {
	font-family: monospace;
}

.A,
span.i,
pre a.i {
	color: #29b74e;
}

.D,
span.d,
pre a.d {
	color: #e42533;
}

.url td:nth-child(2) {
	padding-top:    0.2em;
	padding-bottom: 0.9em;
}

.url td:nth-child(2) span {
	padding: 1px 5px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.url td:nth-child(2) span a {
	color: #444;
}